.sidebar-button{
  margin: 5px 5px 5px 0;

}

#create-room-button {
  margin: 10px 0 20px 0;
}

.sidebar-input{
  margin: 5px 5px 5px 0;
  width: auto;
}

.activeRoom {
  font-weight: bold;
}

.room {
  opacity: .75;
}
